# Ignorar WordPress core files
/app/public/wp-admin/
/app/public/wp-includes/
/app/public/wp-config.php
/app/public/index.php

# Ignorar caché, backups y logs
app/public/wp-content/cache/
app/public/wp-content/upgrade/
app/public/wp-content/uploads/backups/
app/public/wp-content/debug.log
